<!DOCTYPE html>
  <html>
    <head>
      <title>toy time</title>
      <link rel="stylesheet" href="/css/foundation.min.css" type="text" charset="utf-8">
      <link rel="stylesheet" href="/css/normalize.css" type="text" charset="utf-8">
      <link rel="stylesheet" href="/css/stylesheet.css" type="text" charset="utf-8">
    </head>

    <body>

      <div class="row">
        <div class="small-4"></div>
          <div class="small-6"><h1>Log in and log it</h1></div>
        <div class="small-4"></div>
      </div>


      <div class="row">
        <div class="small-2 columns"></div>
         <div class="small-2 columns"><h1>login</h1></div>

          <div class="small-4 columns">
          <form action="/login" method="post">
          <label for="user_name">User Name</label>
          <input type="text" id="user_name" name="user_name">

          <form action="/login" method="post">
          <label for="password">Password</label>
          <input type="password" id="password" name="password">

          <input type="submit">
          </form>
          </div>
          <div class="small-2 columns"></div>
      </div>


      <div class="row">
        <div class="small-12 columns"></div>
      </div>

      <a href="/new">Not a user? Create an account here</a>



    </body>

    </html>
